/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700,900);

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: rgb(180, 222, 221);
  font-family:'Playfair Display SC', serif;
  font-size: large;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family:'Playfair Display SC', serif;
  font-weight: 700;
   }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: 'Cutive Mono', serif;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.map-nav{
  width: 50%;
  height: 100%;
  padding: 0 ;
  position: fixed;
  top: 0;
  left: 0;
}

#map  {
  height: 100%;
  }

#logo{
  position: absolute;
  left: 10px;
  top: 10px;
}


#social-media-icons{
  position: absolute;
  left:10px;
  bottom: 30px;
  width: 100px;
  height: 80px;
}

.social-media-1{
  position: absolute;
  height: 80px;
  width: auto;
  cursor: pointer;
}

.social-media-2{
  position: absolute;
  height: 1px;
  width: auto;
  cursor: pointer;
  left: 80px;
  top: -55px;
  margin: 100px;
  -webkit-transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
  -moz-transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
  -o-transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
  transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480); /* custom */
}

.social-media-3{
  position: absolute;
  height: 1px;
  width: auto;
  cursor: pointer;
  left: 160px;
  top: -55px;
  margin: 100px;
  -webkit-transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
  -moz-transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
  -o-transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
  transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480); /* custom */
}

.social-media-4 {
  position: absolute;
  height: 1px;
  width: auto;
  cursor: pointer;
  left: 240px;
  top: -55px;
  margin: 100px;
  -webkit-transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
  -moz-transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
  -o-transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
  transition: all 200ms cubic-bezier(0.500, 0.250, 0.820, 0.480); /* custom */
}


#social-media-icons:hover .social-media-2{
  height: 80px;
  margin: 55px;
}

#social-media-icons:hover .social-media-3{
  height: 80px;
  margin: 55px;
}

#social-media-icons:hover .social-media-4{
   height: 80px;
   margin: 55px;
}

.social-media-2:hover{
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter:invert(100%);
  filter: invert(100%);
}

.social-media-3:hover{
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter:invert(100%);
  filter: invert(100%);
}

.social-media-4:hover{
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter:invert(100%);
  filter: invert(100%);
}

.main-content{
  height: auto;
  font-size: 115%;
  text-align: justify;
  color: white;
  background-color: rgba(0, 0, 0,0.1);
}

.main-content-post{
  margin-left: 50%;
  height: auto;
  font-size: 115%;
  text-align: justify;
  color: white;
  background-color: rgba(0, 0, 0,0.1);
}

.post-content{
  padding: 10px;
}


.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 4em;

}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.cover-title{
  position: absolute;
  margin-top: 116px;
  height: auto;
  background-color: rgba(180, 222, 221, 0.57);
  color: black;
  font-size: 17px;
  padding: 10px;
  letter-spacing: 5px;
}

.post-title{
  position: absolute;
  margin-top: 220px;
  height: auto;
  background-color: rgba(180, 222, 221, 0.57);
  color: black;
  font-size: 20px;
  padding: 10px;
  letter-spacing: 5px;
}

.post-image{
  position: relative;
  height: 300px;
  width: 100%;
  background-position:center;
  background-size:cover;
}

.post-preview{
  height: 200px;
  width: 100%;
  cursor: pointer;
  background-position:center;
  background-size:cover;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.post-preview:hover{
  height: 300px;
}

.author{
  font-style: italic;
  font-weight: 700;
}

.padding{
  padding: 10px;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.columns{
  padding: 0;
}