/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: rgb(180, 222, 221);
  font-family:'Cutive Mono', serif;
  font-size: large;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family:'Cutive Mono', serif;
   }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: 'Cutive Mono', serif;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.map-nav{
  width: 50%;
  height: 100%;
  padding: 0 ;
  position: fixed;
  top: 0;
  left: 0;
}

#map  {
  height: 100%;
  }

#logo{
  position: absolute;
  left: 10px;
  top: 10px;
}

#social-media-icons{
  position: absolute;
  left:10px;
  bottom: 60px;
  width: 100px;
  height: 50px;
  -webkit-transition: all ease-in-out 0.8s;
  -moz-transition: all ease-in-out 0.8s;
  -o-transition: all ease-in-out 0.8s;
  -ms-transition: all ease-in-out 0.8s;
  transition: all ease-in-out 0.8s;
}

.social-media-1{
  position: absolute;
  height: 80px;
  width: auto;
  cursor: pointer;
}

.social-media-2, .social-media-3, .social-media-4 {
  position: absolute;
  height: 80px;
  width: auto;
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
   -moz-transition: all 300ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
     -o-transition: all 300ms cubic-bezier(0.500, 0.250, 0.820, 0.480);
        transition: all 300ms cubic-bezier(0.500, 0.250, 0.820, 0.480); /* custom */
}

#social-media-icons:hover{

}
#social-media-icons:hover .social-media-2{
  transform: translate(150px,0);
  -webkit-transform: translate(150px,0); /** Chrome & Safari **/
  -o-transform: translate(150px,0); /** Opera **/
  -moz-transform: translate(150px,0); /** Firefox **/
}

#social-media-icons:hover .social-media-3{
  transform: translate(250px,0);
    -webkit-transform: translate(250px,0) ; /** Chrome & Safari **/
    -o-transform: translate(250px,0); /** Opera **/
    -moz-transform: translate(250px,0); /** Firefox **/
}

#social-media-icons:hover .social-media-4{
  transform: translate(350px,0);
    -webkit-transform: translate(350px,0); /** Chrome & Safari **/
    -o-transform: translate(350px,0); /** Opera **/
    -moz-transform: translate(350px,0); /** Firefox **/
}

#donate{
  position: absolute;
  left: 10px;
  top: 79px;
  width: 200px;
  height: auto;
}

.main-content{
  padding: 0;
  height: 100%;
  font-size: 115%;
  text-align: justify;
  color: white;
  background-color: rgba(0, 0, 0,0.4);
}

.post-content{
  padding: 1em;
}


.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 4em;

}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post-title, .cover-title{
  position: absolute;
  margin-top: 220px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 20px;
  padding: 10px;
}

.post-image{
  position: relative;
  height: 300px;
  width: 100%;
  background-position:center;
  background-size:cover;
}

.post-preview{
  height: 300px;
  width: 111%;
  cursor: pointer;
  background-position:center;
  background-size:cover;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}




/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
