<div id="map">
</div>
<img id="logo" src="/images/litography.png"></img>

<div id="social-media-icons">
<a href="http://instagram.com/thelitographyproject"><img class="social-media-2" src="/images/Instagram-Icon.png"></img></a>
<a href="https://www.facebook.com/thelitographyproject"><img class="social-media-3" src="/images/FB-Icon.png"></img></a>
<a href="https://twitter.com/litographysf"><img class="social-media-4" src="/images/Twitter-Icon.png"></img></a>
<img href="/" class="social-media-1" src="/images/Logo.png"></img>
</div>