<div id="map">
</div>
<img id="logo" src="{{ site.baseurl }}/images/litography.png"></img>
<a href="http://kck.st/OdtNmZ" ><img id="donate" src="{{ site.baseurl }}/images/kickstarter.png" ></a>
<div id="social-media-icons">
<a href="http://instagram.com/thelitographyproject"><img class="social-media-2" src="{{ site.baseurl }}/images/Instagram-Icon.png"></img></a>
<a href="https://www.facebook.com/thelitographyproject"><img class="social-media-3" src="{{ site.baseurl }}/images/FB-Icon.png"></img></a>
<a href="https://twitter.com/litographysf"><img class="social-media-4" src="{{ site.baseurl }}/images/Twitter-Icon.png"></img></a>
<a href="{{ site.baseurl }}"><img  class="social-media-1" src="{{ site.baseurl }}/images/Logo.png"></img></a>
</div>