<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">


  <!-- Foundation -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.min.css">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">


  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

  <!-- Google Map JS -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAbcPA81_b6-n4KjMYRZpLlnn0GUnXRBBQ&sensor=true"></script>
   <!-- scripts -->
    <script src="{{ site.baseurl }}/js/vendor/jquery.min.js"></script>
   <script src="{{ site.baseurl }}/js/vendor/foggy.js"></script>
   <!-- // <script src="{{ site.baseurl }}/js/vendor/script.js"></script> -->
   <script src="{{ site.baseurl }}/js/vendor/modernizr.min.js"></script>
   <script src="{{ site.baseurl }}/js/vendor/foundation.min.js"></script>
   <script src="{{ site.baseurl }}/js/main.js"></script>

</head>
<body>

  <div id="fb-root"></div>

<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1401147086817093";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

  <div class="map-nav large-6 columns">
      {% include map.html %}
    </div>

  <div class="main-content-post large-6 columns">
    {{content}}
  </div>

<script>
  $(document).ready(function(){

});
</script>


</body>
</html>